
<page-header></page-header>

<mat-card  >
  <div class="card-header card-header-danger" style="margin-top: -40px;">
    <h4 class="card-title">{{'Contact.title-detail'|translate}}</h4>
  </div>
  <div *ngIf="showSpinner"fxLayoutAlign="center center">
  <mat-spinner  ></mat-spinner>
</div>
<mat-card-content style="margin-bottom: 5%;"*ngIf="!showSpinner">
  <div fxLayout="row" fxLayoutAlign="space-evenly">
  <aside fxFlex="15">
  <img mat-card-image src="./assets/images/profile.png" style="border-radius: 100%;
  margin-top: 3%;
" >
  </aside>
  <section fxFlex="60">
   
    <div fxLayout="row" >
      <div fxLayout="column" fxFlex="40" fxLayoutAlign="space-around none" >
        {{'form_standard.civility'|translate}} :
      </div>
     
      <div fxLayout="column"  *ngIf="isMen" style="color:blue;" >
        <i class="fas fa-lg fa-male"></i>
      </div>
      <div fxLayout="column"  *ngIf="!isMen" >
          <i class="fas fa-lg fa-female"  style="color: palevioletred;"></i>
       
      </div>
    </div>
   <br>
    <div fxLayout="row"   >
      <div  fxLayout="column" fxFlex="40" >
        {{'form_standard.Fullname'|translate}} :
      </div>
      <div  fxLayout="column" fxLayoutAlign="space-around none" >
       {{(contact$|async)?.firstname}}  {{((contact$|async)?.lastname)|uppercase}}
      </div>
    </div>
    <br>
    <div fxLayout="row"  >
      <div  fxLayout="column" fxFlex="40">
        {{'form_standard.Date_Birth'|translate}} :
        
      </div>
      <div  fxLayout="column" fxFlex="40" fxLayoutAlign="space-around none" >
        {{((contact$|async)?.birth_day) | date: 'dd/MM/yyyy'}}
      </div>
    </div>
    <br>
    <div fxLayout="row"  >
      <div  fxLayout="column" fxFlex="40">
        {{'form_standard.mail'|translate}} :
        
      </div>
      <div  fxLayout="column" fxFlex="40" fxLayoutAlign="space-around none" >
        {{(contact$|async)?.email}}
      </div>
    </div>
    <br>
    <div fxLayout="row" >
      <div  fxLayout="column" fxFlex="40"  >
        {{'form_standard.tel'|translate}} :
        
      </div>
      <div  fxLayout="column" fxFlex="40" fxLayoutAlign="space-around none" >
        {{(contact$|async)?.telephone}}
      </div>
    </div>
    <br>
    <div fxLayout="row"  >
      <div  fxLayout="column" fxFlex="40"  >
        {{'form_standard.address'|translate}} :
      </div>
      <div  fxLayout="column" fxFlex="40" fxLayoutAlign="space-around none" >
        {{(contact$|async)?.address.description}}
      </div>
    </div>
    <br>
    <div fxLayout="row"  >
        <div  fxLayout="column" fxFlex="40" >
          {{'form_standard.city'|translate}} :
        </div>
        <div  fxLayout="column" fxFlex="40" fxLayoutAlign="space-around none" >
          {{(contact$|async)?.address.city.name}}
        </div>
      </div>
      <br>
    <div fxLayout="row"  >
      <div  fxLayout="column" fxFlex="40" >
        {{'form_standard.country'|translate}} :

      </div>
      <div  fxLayout="column" fxFlex="40" fxLayoutAlign="space-around none" >
        {{(contact$|async)?.address.country.name}}
      </div>
    </div>

  </section>
  
  </div>

</mat-card-content>
<div fxLayoutAlign="end end">
    <a><i (click)="Onclick()"  class="fa  fa-4x fa-angle-right" style="color: #4e99c5;" aria-hidden="true"></i></a>
</div>
</mat-card>