<page-header></page-header>

<mat-tab-group >
  <mat-tab >
    <ng-template mat-tab-label style="background: linear-gradient(60deg, #52a2ca, #191970);">
      <i class="fab fa-lg fa-wpforms"></i> &nbsp; Faire une demande de parrainage
    </ng-template>
    <app-sponsor-agent-form></app-sponsor-agent-form>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="far fa-lg fa-list-alt"></i> &nbsp; Liste des candidatures
    </ng-template>
    <app-sponsor-agent-list></app-sponsor-agent-list>
    
  </mat-tab>
</mat-tab-group>