<page-header></page-header>
<mat-card> 
    <div class="card-header card-header-danger" style="margin-top: -40px;">
      <h4 class="card-title">CANDIDATURES EN COURS</h4>
    </div>
    <mat-card-content >

    <section>
        <mat-table [dataSource]="paginatedDataSource.items" aria-readonly="true">
                  <ng-container cdkColumnDef="Date De Création">
                    <mat-header-cell   *cdkHeaderCellDef>{{'Sponsor.form.Date_CREATION'|translate}}</mat-header-cell>
                    <mat-cell *cdkCellDef="let row;">{{row.created_at| date: 'dd/MM/yyyy'}}</mat-cell>
                  </ng-container>
          <ng-container cdkColumnDef="Prénom Parrain">
            <mat-header-cell  *cdkHeaderCellDef>{{'Sponsor.form.firstname_sponsor'|translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let row;">{{row.sponsor.firstname}}</mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="Nom Parrain">
            <mat-header-cell  *cdkHeaderCellDef>{{'Sponsor.form.name_sponsor'|translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let row;">{{row.sponsor.lastname}}</mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="Prénom Candidat">
            <mat-header-cell *cdkHeaderCellDef>{{'Sponsor.form.firstname_candidat'|translate}}</mat-header-cell>
            <mat-cell  *cdkCellDef="let row;">{{row.firstname}}</mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="Nom Candidat">
            <mat-header-cell   *cdkHeaderCellDef>{{'Sponsor.form.name_candidat'|translate}}</mat-header-cell>
            <mat-cell *cdkCellDef="let row;">{{row.lastname}}</mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="Status">
            <mat-header-cell *cdkHeaderCellDef>{{'Sponsor.form.status'|translate}}</mat-header-cell>
            
            <mat-cell *cdkCellDef="let row;" >
              <div *ngIf="row.status=='in_progress'">
                <i style="color: #fba914; " class="fas fa-lg fa-hourglass"  matTooltipClass="tooltip"[matTooltipPosition]="'right'" matTooltip="En attente"></i>
              </div>
              <div *ngIf="row.status=='accepted'">
                <i style="color: green;"  class="fas fa-lg fa-check" [matTooltipPosition]="'right'" matTooltipClass="tooltip" matTooltip="Accepté"></i>
              </div>
              <div *ngIf="row.status=='refused'">
                <i style="color: red;"  class="fa fa-lg fa-ban" [matTooltipPosition]="'right'" matTooltipClass="tooltip" matTooltip="Refusé"></i>
              </div>
                      
            </mat-cell>
            </ng-container>
       
           
          <ng-container cdkColumnDef="Menu" >
            <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
            <mat-cell *cdkCellDef="let row;">
               <button mat-icon-button [matMenuTriggerFor]="menu">
                 <mat-icon>more_vert</mat-icon>
               </button>
               <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="accept(row.id)"> 
                    <i style="color: green;" class="fa fa-check-circle"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>{{'Sponsor.form.accept'|translate}}</span>
                  </button>
                  <button mat-menu-item (click)="refus(row.id)">
                    <i  style="color: red;" class="fa fa-ban" aria-hidden="true"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span >{{'Sponsor.form.refus'|translate}}</span>
                  </button>
                  <button mat-menu-item (click)="details(row.id)">
                    <mat-icon>remove_red_eye</mat-icon>
                    <span>{{'form_standard.consult'|translate}}</span>
                  </button>
               </mat-menu>
            </mat-cell>
          </ng-container>


          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </section> 
      
     </mat-card-content>
     <mat-card-actions>
      <div fxLayoutAlign="end end">
       <a><i (click)="onPage()"  class="fa fa-3x  fa-angle-right" style="color: #4e99c5;" aria-hidden="true"></i></a>      
     </div>
    </mat-card-actions>

  
</mat-card>
