mat-radio-button {
    margin: 20px;
  }
  .display_center{
    position : absolute;
    right :50%;
   // top : 7%;
}
mat-card {
height: 150%;
}

mat-card-content {
font-size: 100%;
font-family: none;
width: 60%;
}
div{
margin-top: 6px;
}
.width-class{
width: 90%;
}
i {
  width: 38px;
  margin: 0px;
}