// ==================================================
// BRANDING
// ==================================================

.hiit-branding {
  display: inline-block;
  color: inherit;
  font-size: 16px;
  white-space: nowrap;
}

.hiit-branding-logo-expanded {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;

 
}

.hiit-branding-name {
  font-weight: normal;
  vertical-align: middle;
}
