.mat-chip.mat-standard-chip {
    background-color: #f18618;
    color: #fafafa;
}

.tooltip{
    background:#b71c1c;
  
  }
.userIcon{
    margin-left:80%;
}
.head {
    border-bottom: 1px solid #e2dbdb;
    margin-top: -2px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: -14px;
  }
    .btn {
    
      background-color: #4e99c5;
      color: white;
       margin: 4px,10px,4px ,10px;

}
.btnplus{
  color: #1ba0a7;
  margin-right: 8px;
  margin-bottom: 3px;
 
}