.full-width {
    width: 100%;
  }
  #ful-width {
    width: 100%;
  }
.mat-card-content{
    width: 60%;
}
.titleProject{
    margin-top: 4%;
    margin-bottom: 4%;
    font-family: initial;
    color: darkblue;
    background-color: aliceblue;
}
.text{
    font-family: initial;
    font-size: unset;
    text-align: center;
}
.margin{
  margin-bottom: 10px;
}
mat-radio-button {
  margin:8px ;
}


.btnAdd{
  height: 40px;
  padding: 4px 10px 20px 4px;
  margin-left: 25%;
  margin-top: 6%;
}