<mat-card> 
    <mat-card-header class="header" >
        <div class="title-card">CANDIDATURES EN COURS</div>
    </mat-card-header> 
    <mat-card-content >
    <section>
        <mat-table [dataSource]="paginatedDataSource"
                   aria-readonly="true"
                  >
          <ng-container cdkColumnDef="Prénom Parrain">
            <mat-header-cell *cdkHeaderCellDef>Prénom Parrain</mat-header-cell>
            <mat-cell *cdkCellDef="let row;">{{row.firstnameParrain}}</mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="Nom Parrain">
            <mat-header-cell *cdkHeaderCellDef>Nom Parrain</mat-header-cell>
            <mat-cell *cdkCellDef="let row;">{{row.lastnameParrain}}</mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="Prénom Candidat">
            <mat-header-cell *cdkHeaderCellDef>Prénom Candidat</mat-header-cell>
            <mat-cell *cdkCellDef="let row;">{{row.firstnameCandidate}}</mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="Nom Candidat">
            <mat-header-cell *cdkHeaderCellDef>Nom Candidat</mat-header-cell>
            <mat-cell *cdkCellDef="let row;">{{row.lastnameCandidate}}</mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="Status">
            <mat-header-cell *cdkHeaderCellDef>Status</mat-header-cell>
            <mat-cell *cdkCellDef="let row;">{{row.status}}</mat-cell>
          </ng-container>

          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator
           [length]="6"
           [pageIndex]="0"
           [pageSize]="3"
           [pageSizeOptions]="[1, 3, 5]">
        </mat-paginator>
      </section> 
      
     </mat-card-content>
</mat-card>
<!--<mat-card>
    <mat-card-header class="header" >
        <div class="title-card">HISTORIQUE DES CANDIDATURES</div>
    </mat-card-header> 
    <mat-card-content >
        <section>
            <mat-table [dataSource]="paginatedDataSource"
                       aria-readonly="true"
                       aria-label="Users favorite colors and age">
              <ng-container cdkColumnDef="Prénom Parrain">
                <mat-header-cell *cdkHeaderCellDef>Prénom Parrain</mat-header-cell>
                <mat-cell *cdkCellDef="let row;">{{row.firstnameParrain}}</mat-cell>
              </ng-container>
              <ng-container cdkColumnDef="Nom Parrain">
                <mat-header-cell *cdkHeaderCellDef>Nom Parrain</mat-header-cell>
                <mat-cell *cdkCellDef="let row;">{{row.lastnameParrain}}</mat-cell>
              </ng-container>
              <ng-container cdkColumnDef="Prénom Candidat">
                <mat-header-cell *cdkHeaderCellDef>Prénom Candidat</mat-header-cell>
                <mat-cell *cdkCellDef="let row;">{{row.firstnameCandidate}}</mat-cell>
              </ng-container>
              <ng-container cdkColumnDef="Nom Candidat">
                <mat-header-cell *cdkHeaderCellDef>Nom Candidat</mat-header-cell>
                <mat-cell *cdkCellDef="let row;">{{row.lastnameCandidate}}</mat-cell>
              </ng-container>
              <ng-container cdkColumnDef="Status">
                <mat-header-cell *cdkHeaderCellDef>Status</mat-header-cell>
                <mat-cell *cdkCellDef="let row;">{{row.status}}</mat-cell>
              </ng-container>
    
              <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator
               [length]="6"
               [pageIndex]="0"
               [pageSize]="3"
               [pageSizeOptions]="[1, 3, 5]">
            </mat-paginator>
          </section> 
          
         </mat-card-content>
</mat-card>-->

