<page-header></page-header>
<mat-card>
  <div class="card-header card-header-danger" style="margin-top: -40px;">
    <h4 class="card-title">{{ "Mandat.newMandate" | translate }}</h4>
  </div>
  <form [formGroup]="form" >
    
<section class="demo-expansion" style="margin-bottom: 2%;" >
  <div fxLayoutAlign="center center" style="color: rgb(34, 55, 120);" ><i class="fa fa-5x fa-home" aria-hidden="true"></i></div>
  <div fxLayoutAlign="center center"  style="color:#1ba0a7;font-size: large; margin-top: 1.2%;    font-family: monospace;">{{project?.project_type}} /{{project?.project_state}}/{{project?.project_kind}}/{{project?.property.property_type.name}}</div>
<div *ngIf="showSpinner" fxLayoutAlign="center end" >
  <mat-spinner></mat-spinner>

</div>
<div *ngIf="!showSpinner">
  <div style="margin-top: 8%;margin-bottom: 5%;">
    <mat-accordion fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      
      
      <mat-expansion-panel #panel1 style="width: 100%;">
        <mat-expansion-panel-header class="disable_ripple" [collapsedHeight]="'70px'"
          [expandedHeight]="'70px'">
          <div class="title-cardd">
            {{ "Mandat.title-data" | translate }}
          </div>
        </mat-expansion-panel-header>


        <div fxLayout="column" fxLayoutAlign="space-between center " style="margin-top: 30px;">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>
              {{ "Mandat.title-data" | translate }}
            </mat-label>
            <mat-select formControlName="type">
              <mat-option
                *ngFor="let type of typeMandat$ | async"
                [value]="type.id"
                >{{ type.name }}
              </mat-option>
            </mat-select>
            
          </mat-form-field>
        </div>
      </mat-expansion-panel>







      <mat-expansion-panel #panel2 style="width: 100%;">
        <mat-expansion-panel-header class="disable_ripple" [collapsedHeight]="'70px'"
          [expandedHeight]="'70px'">
          <div class="title-cardd">
            {{ "Mandat.title-bien" | translate }}

          </div>
        </mat-expansion-panel-header>


        <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px;">
          <mat-card-content>
            <div fxLayout="row">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-chart-area"></i>&nbsp;&nbsp;&nbsp; {{"Property.form.area" | translate }} :
              </div>
              <div fxLayout="column" fxFlex="50">
                {{ project?.property.area }}
              </div>
            </div>
  
            <div *ngIf="project?.property.estimated_surface">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-chart-area"></i>&nbsp;&nbsp;&nbsp;{{"Property.form.areaEsteme" | translate }} :
              </div>
              <div fxLayout="column" fxFlex="50">
                {{ project?.property.estimated_surface }}
              </div>
            </div>
  
            <div fxLayout="row" *ngIf="project?.property.state">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg far fa-building"></i>&nbsp;&nbsp;&nbsp; {{"Property.form.state" | translate }} :
               
             
              </div>
              <div fxLayout="column" fxFlex="50">
                {{ project?.property.state }}
              </div>
            </div>
  
            <div fxLayout="row" *ngIf="project?.property.construction_year">
              <div fxLayout="row" fxFlex="70">
                <i class="fas fa-lg fa-calendar-alt"></i> &nbsp;&nbsp;&nbsp; {{"Property.form.constructionYear"|translate }} :
              </div>
              <div fxLayout="column" fxFlex="50">
                {{ project?.property.construction_year | date: "dd/MM/yyyy" }}
              </div>
            </div>
  
            <div fxLayout="row" *ngIf="project?.property.orientation">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-cloud-sun"></i>&nbsp;&nbsp;&nbsp;
                {{"Property.form.orientation" | translate }} :
              </div>
              <div fxLayout="column" fxFlex="50">
                {{ project?.property.orientation }}
              </div>
            </div>
  
            <div fxLayout="row" *ngIf="project?.property.has_key">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-key"></i>&nbsp;&nbsp;&nbsp; {{"Property.form.keysNumber" | translate }} :
              </div>
              <div fxLayout="column" fxFlex="50">
                {{ project?.property.keys_number }}
              </div>
            </div>
  
            <div fxLayout="row" *ngIf="project?.property.is_available==true||project?.property.is_available==false">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-home"></i>&nbsp;&nbsp;&nbsp; {{"Property.form.vailability" | translate }} :
              </div>
              <div
                fxLayout="column"
                fxFlex="50"
                *ngIf="project?.property.is_available"
              >
              {{"Property.form.isAvailable" | translate }} 
              </div>
              <div
                fxLayout="column"
                fxFlex="50"
                *ngIf="!project?.property.is_available"
              >
                {{"Property.form.notAvailable" | translate }} 
              </div>
            </div>
  
            <div fxLayout="row" *ngIf="!project?.property.is_available">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-calendar-alt"></i>&nbsp;&nbsp;&nbsp; {{"Property.form.dateAvailability" | translate }} :
              </div>
              <div fxLayout="column" fxFlex="50">
                {{ project?.property.date_availability | date: "dd/MM/yyyy" }}
              </div>
            </div>
  
            <div fxLayout="row" *ngIf="project?.property.floors_number">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg far fa-building"></i>&nbsp;&nbsp;&nbsp; {{"Property.form.floorsNumber" | translate }} :
              </div>
              <div fxLayout="column" fxFlex="50">
                {{ project?.property.floors_number }}
              </div>
            </div>
  
            <div fxLayout="row" *ngIf="project?.property.has_elevator">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-cogs"></i>&nbsp;&nbsp;&nbsp; {{"Property.form.hasElevator" | translate }} :
              </div>
              <div
                fxLayout="column"
                fxFlex="50"
              >
                {{ "form_standard.yes" | translate }}
              </div>
              
            </div>
  
            <div fxLayout="row" *ngIf="project?.property.has_garage">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-warehouse"></i>&nbsp;&nbsp;&nbsp; {{"Property.form.hasGarage" | translate }} :
              </div>
              <div
                fxLayout="column"
                fxFlex="50"
                
              >
                {{ "form_standard.yes" | translate }}
              </div>
              
            </div>
  
            <div fxLayout="row" *ngIf="project?.property.has_cellar">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-home"></i>&nbsp;&nbsp;&nbsp; {{"Property.form.hasCellar" | translate }} :
              </div>
              <div
                fxLayout="column"
                fxFlex="50"
              >
                {{ "form_standard.yes" | translate }}
              </div>
              
            </div>
  
            <div
              fxLayout="row"
              *ngIf="
                project?.property.has_basement ||
                project?.property.has_park_car_outside
              "
            >
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-parking"></i>&nbsp;&nbsp;&nbsp; {{"Property.form.hasParkCar" | translate }} :
              </div>
              <div
                fxLayout="column"
                fxFlex="50"
                *ngIf="project?.property.has_basement"
              >
              {{"Property.form.hasBasement" | translate }}
              </div>
              <div
                fxLayout="column"
                fxFlex="50"
                *ngIf="project?.property.has_park_car_outside"
              >
              {{"Property.form.hasParkCarOutside" | translate }} 
              </div>
            </div>
  
            <div fxLayout="row" *ngIf="project?.property.has_guardian">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-user-shield"></i>&nbsp;&nbsp;&nbsp;
                {{"Property.form.hasGuardian" | translate }} :
              </div>
              <div
                fxLayout="column"
                fxFlex="50"
              >
                {{ "form_standard.yes" | translate }}
              </div>
              
            </div>
  
            <div fxLayout="row" *ngIf="project?.property.has_balcony">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-home"></i>&nbsp;&nbsp;&nbsp; {{"Property.form.hasBalcony" | translate }} :
              </div>
              <div
                fxLayout="column"
                fxFlex="50"
              >
                {{ "form_standard.yes" | translate }}
              </div>
            </div>
  
            <div fxLayout="row" *ngIf="project?.property.has_terace">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-home"></i>&nbsp;&nbsp;&nbsp; {{"Property.form.hasTerace" | translate }} :
              </div>
              <div
                fxLayout="column"
                fxFlex="50"
              >
                {{ "form_standard.yes" | translate }}
              </div>
            </div>
  
            <div fxLayout="row" *ngIf="project?.property.has_intercom">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-phone-alt"></i>&nbsp;&nbsp;&nbsp;
                {{"Property.form.hasIntercom" | translate }} :
              </div>
              <div
                fxLayout="column"
                fxFlex="50"
              >
                {{ "form_standard.yes" | translate }}
              </div>
            </div>
  
            <div fxLayout="row">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-dollar-sign"></i
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
                  "Property.form.pricemin" | translate
                }}:
              </div>
              <div fxLayout="column" fxFlex="50">
                {{ project?.property.minimal_price }}
              </div>
            </div>
  
            <div fxLayout="row">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-dollar-sign"></i
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
                  "Property.form.pricemax" | translate
                }}:
              </div>
              <div fxLayout="column" fxFlex="50">
                {{ project?.property.maximum_price }}
              </div>
            </div>
  
            <div fxLayout="row">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-dungeon"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{
                  "Property.form.nbpieces" | translate
                }}:
              </div>
              <div fxLayout="column" fxFlex="50">
                {{ project?.property.room }}
              </div>
            </div>
  
            <div fxLayout="row">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-address-card"></i
                >&nbsp;&nbsp;&nbsp;&nbsp;{{
                  "form_standard.address" | translate
                }}:
              </div>
              <div fxLayout="column" fxFlex="50">
                {{ project?.property.address.description }}
                {{ project?.property.address.city.name }}
              </div>
            </div>
  
            <div fxLayout="row">
              <div fxLayout="row" fxFlex="50">
                <i class="fas fa-lg fa-flag"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{
                  "form_standard.country" | translate
                }}:
              </div>
              <div fxLayout="column" fxFlex="50">
                {{ project?.property.address.country.name }}
              </div>
            </div>
          </mat-card-content>
        </div>
      </mat-expansion-panel>




















      <mat-expansion-panel #panel3 style="width: 100%;">
        <mat-expansion-panel-header class="disable_ripple" [collapsedHeight]="'70px'"
          [expandedHeight]="'70px'">
          <div class="title-cardd">
            {{"Mandat.title-mandan" | translate }}
          </div>
        </mat-expansion-panel-header>


        <div fxLayout="row" fxLayoutAlign="center center"   style="margin-top: 30px;">
            <div  >
               
                  
                  <mat-card-content style="font-size: 100%; font-family: none; width: 90%;">
                    <div fxLayout="row">
                      <aside fxFlex="15" style="margin: 4%">
                        <img
                          mat-card-image
                          src="./assets/images/profile.png"
                          style="border-radius: 80px"
                        />
                      </aside>
                      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          
                      <section fxFlex="60">
                        <div fxLayout="row">
                          <div fxLayout="column" fxFlex="50">
                            {{ "form_standard.Fullname" | translate }} :
                          </div>
                          <div fxLayout="column" fxFlex="50">
                            {{ project?.contact.firstname }}&nbsp;{{
                              project?.contact.lastname | uppercase
                            }}
                          </div>
                        </div>
                        
                        <div fxLayout="row">
                          <div fxLayout="column" fxFlex="50">
                            {{ "form_standard.mail" | translate }} :
                          </div>
                          <div fxLayout="column" fxFlex="50">
                            {{ project?.contact.email }}
                          </div>
                        </div>
                        
                        <div fxLayout="row">
                          <div fxLayout="column" fxFlex="50">
                            {{ "form_standard.tel" | translate }} :
                          </div>
                          <div fxLayout="column" fxFlex="50">
                            {{ project?.contact.telephone }}
                          </div>
                        </div>
          
                        <div fxLayout="row" *ngIf="project?.contact.societe" >
                          <div  fxLayout="column" fxFlex="50"  >
                            {{ "form_standard.societe" | translate }} :
                            
                          </div>
                          <div  fxLayout="column" fxFlex="50" fxLayoutAlign="space-around none" >
                            {{project?.contact.societe}}
                          </div>
                        </div>
                      
                        <div fxLayout="row" *ngIf="project?.contact.channel_type" >
                          <div  fxLayout="column" fxFlex="50"  >
                            {{ "form_standard.channelType" | translate }} :
                            
                          </div>
                          <div  fxLayout="column" fxFlex="50" fxLayoutAlign="space-around none" >
                            {{project?.contact.channel_type}}
                          </div>
                        </div>
                        <div fxLayout="row">
                          <div fxLayout="column" fxFlex="50">
                            {{ "form_standard.address" | translate }} :
                          </div>
                          <div fxLayout="column" fxFlex="50">
                            {{ project?.contact.address.description }},{{
                              project?.contact.address.city.name
                            }}
                          </div>
                        </div>
                        
                        <div fxLayout="row">
                          <div fxLayout="column" fxFlex="50">
                            {{ "form_standard.country" | translate }} :
                          </div>
                          <div fxLayout="column" fxFlex="50">
                            {{ project?.contact.address.country.name }}
                          </div>
                        </div>
                        <div fxLayout="row" *ngIf="project?.contact.notes" >
                          <div  fxLayout="column" fxFlex="50"  >
                            {{ "form_standard.notes" | translate }} :
                            
                          </div>
                          <div  fxLayout="column" fxFlex="50" fxLayoutAlign="space-around none" >
                            {{project?.contact.notes}}
                          </div>
                        </div>
                      </section>
                    </div>
                  </mat-card-content>
              
              </div> 
        </div>
      </mat-expansion-panel>


      

    </mat-accordion>
  </div>
  <div  fxLayoutAlign="end end" >
    <button class="full" mat-button  mat-stroked-button  (click)=onSubmit()  [disabled]="form.invalid" >
      {{ "form_standard.save" | translate }} &nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-right"></i>
    </button>
  </div>
  </div>
</section>
</form>
</mat-card>
