<page-header></page-header>
<mat-card>
  <div class="card-header card-header-danger" style="margin-top: -40px">
    <h4 class="card-title">{{ "Mandat.title-list" | translate }}</h4>
  </div>

  <mat-card-header
    class="header"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div class="title-card1"></div>
    <a
      class="btnplus"
      *ngIf="id"
      matTooltip="{{ 'Mandat.add' | translate }} "
      (click)="addMandat(id)"
    >
      <i class="fas fa-2x fa-plus"></i>
    </a>
  </mat-card-header>

  <mat-card-content>
    <section>
      <mat-table [dataSource]="mandat" aria-readonly="true">
        <ng-container cdkColumnDef="Id Mandant">
          <mat-header-cell *cdkHeaderCellDef>{{'Mandat.id'|translate}}</mat-header-cell>
          <mat-cell *cdkCellDef="let row">{{ row.id }}</mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="Prénom Du Mandant">
          <mat-header-cell *cdkHeaderCellDef>{{'Mandat.firstname_mandant'|translate}}</mat-header-cell>
          <mat-cell *cdkCellDef="let row">{{
            row.project.contact.firstname
          }}</mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="Nom Du Mandant">
          <mat-header-cell *cdkHeaderCellDef>{{'Mandat.lastname_mandant'|translate}}</mat-header-cell>
          <mat-cell *cdkCellDef="let row">{{
            row.project.contact.lastname
          }}</mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="projectState">
          <mat-header-cell *cdkHeaderCellDef>{{'Mandat.statusProject'|translate}}</mat-header-cell>
          <mat-cell *cdkCellDef="let row"
            >{{ row.project.projectState }}
          </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="projectType">
          <mat-header-cell *cdkHeaderCellDef>{{'Mandat.typeProject'|translate}}</mat-header-cell>
          <mat-cell *cdkCellDef="let row"
            >{{ row.project.projectType }}
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="Type">
          <mat-header-cell *cdkHeaderCellDef>{{'Mandat.typeMandat'|translate}}</mat-header-cell>
          <mat-cell *cdkCellDef="let row">{{ row.type.name }}</mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="Status">
          <mat-header-cell *cdkHeaderCellDef>{{'Mandat.sttusMandat'|translate}}</mat-header-cell>
          <mat-cell *cdkCellDef="let row">
            <div *ngIf="row.status == 'in_progress'">
              <i
                style="color: #fba914"
                class="fas fa-lg fa-hourglass"
                matTooltipClass="tooltip"
                [matTooltipPosition]="'right'"
                matTooltip="En attente"
              ></i>
            </div>
            <div *ngIf="row.status == 'accepted'">
              <i
                style="color: green"
                class="fas fa-lg fa-check"
                [matTooltipPosition]="'right'"
                matTooltipClass="tooltip"
                matTooltip="Accepté"
              ></i>
            </div>
            <div *ngIf="row.status == 'refused'">
              <i
                style="color: red"
                class="fa fa-lg fa-ban"
                [matTooltipPosition]="'right'"
                matTooltipClass="tooltip"
                matTooltip="Refusé"
              ></i>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="Menu">
          <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
          <mat-cell *cdkCellDef="let row">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="details(row.id)">
                <mat-icon>remove_red_eye</mat-icon>
                <span>{{ "form_standard.consult" | translate }}</span>
              </button>
              <button
                mat-menu-item
                (click)="download(row.id)"
                *ngIf="row.status == 'accepted'"
              >
                <mat-icon>cloud_download</mat-icon>
                <span>{{ "Mandat.Download" | translate }}</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </section>

    



    
  </mat-card-content>
</mat-card>
