button:hover{
    background-color: #28458e !important;
    color:white
}


#disable_ripple{
    background: #203574  ; 
    color:white ;                             
  }

  .ng-select .ng-select-container.ng-appearance-outline:hover:after {
    /* border-color: rgba(0,0,0,0.87); */
    border-width: 2px;
  }


