<page-header></page-header>
<mat-card>
   <div class="card-header card-header-danger" style="margin-top: -40px;">
      <h4 class="card-title">{{'Contact.title-update'|translate}}</h4>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" style="text-align: center;">
       <mat-card-content>
          <div fxLayout="column" fxLayoutAlign="space-between center">
             <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{'form_standard.civility'|translate}}</mat-label>
                <mat-select  formControlName="gender" >
                   <mat-option *ngFor="let gender of gender$|async " [value]="gender.id">{{gender.name}} </mat-option>
                </mat-select>
             </mat-form-field>
          </div>
          
          <div fxLayout="column" fxLayoutAlign="space-between center">
             <mat-form-field class="full-width" appearance="outline">
                <mat-label> {{'form_standard.firstname'|translate}} </mat-label>
                <input matInput name="firstname" formControlName="firstname" />
                <mat-error *ngIf="form.get('firstname').invalid || form.get('firstname')">
                  {{'form_standard.firstname.error'|translate}}
               </mat-error>
             </mat-form-field>
          </div>
 
          <div fxLayout="column" fxLayoutAlign="space-between center">
             <mat-form-field class="full-width" appearance="outline">
                <mat-label> {{'form_standard.lastname'|translate}} </mat-label>
                <input matInput name="lastname" formControlName="lastname" />
                <mat-error *ngIf="form.get('lastname').invalid || form.get('lastname')">
                  {{'form_standard.lastname.error'|translate}}
                </mat-error>
             </mat-form-field>
          </div>
 
          <div fxLayout="column" fxLayoutAlign="space-between center">
             <mat-form-field class="full-width" appearance="outline">
                <mat-label> {{'form_standard.mail'|translate}} </mat-label>
                <mat-icon matSuffix>email</mat-icon>
                <input matInput name="email" formControlName="email"/>
                <mat-error *ngIf="form.get('email').invalid">
                  
                </mat-error>
             </mat-form-field>
          </div>
 
          <div fxLayout="column" fxLayoutAlign="space-between center">
             <mat-form-field class="full-width" appearance="outline">
                <mat-label> {{'form_standard.tel'|translate}} </mat-label>
                <mat-icon matSuffix>phone</mat-icon>
                <input matInput name="telephone" formControlName="telephone" />
                   <mat-error *ngIf="form.get('telephone').invalid||form.get('telephone')">
                     {{ "form_standard.tel.error" | translate }}
                  </mat-error>
             </mat-form-field>
          </div>
 
          <div fxLayout="column" fxLayoutAlign="space-between center">
             <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{'form_standard.Date_Birth'|translate}}</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthDay">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.get('birthDay').invalid">
                  {{ "form_standard.date.error" | translate }}
               </mat-error>
              </mat-form-field>             
          </div>
 
 
          <div formGroupName="address">
             <div fxLayoutAlign="center">
                <div fxLayoutAlign="space-between center" class="full-width">
                 
                  <mat-form-field appearance="outline" fxFlex="45">
                     <mat-label> {{'form_standard.country'|translate}} </mat-label>
                     <mat-select formControlName="country" >
                        
                        <mat-option  *ngFor="let country of country$|async"  (click)="OnCountry(country.id)" [value]="country.id">
                           {{country.name}}
                        </mat-option>

                     </mat-select>
                  </mat-form-field>
                  
                  <mat-form-field appearance="outline" fxFlex="45">
                      <mat-label> {{'form_standard.city'|translate}} </mat-label>
                      <mat-select formControlName="city">
                         <mat-option *ngFor="let city of city$|async " [value]="city.id">{{city.name}} </mat-option>
                      </mat-select>
                   </mat-form-field>
                 
                </div>
             </div>
             <div fxLayout="column" fxLayoutAlign="space-between center">
                <mat-form-field class="full-width" appearance="outline">
                   <mat-label> {{'form_standard.address'|translate}} </mat-label>
                   <i matSuffix class="fas fa-lg fa-address-card"></i>
                   <input matInput name="address" formControlName="description" />
                </mat-form-field>
             </div>
          </div>

          <div fxLayout="column" fxLayoutAlign="space-between center">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label> Société </mat-label>
              <input matInput name="societe" formControlName="societe" />
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutAlign="space-between center">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label> Type de voie </mat-label>
              <input matInput name="channelType" formControlName="channelType" />
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutAlign="space-between center">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label> Notes </mat-label>
              <textarea matInput name="notes" formControlName="notes"></textarea>
            </mat-form-field>
          </div>

       </mat-card-content>
       <mat-card-actions>
        <div class="btns">
         <button mat-raised-button class="btn-submit" type="submit" [disabled]="form.invalid"  >{{'form_standard.confirm'|translate}} <mat-icon>check</mat-icon> </button>
         <button mat-raised-button class="btn-warning" type="reset">{{'form_standard.cancel'|translate}} <mat-icon>highlight_off</mat-icon> </button>
         </div>
       </mat-card-actions>
    </form>

 </mat-card>